.image{
	width: 50%;
	height: 50%; 
	border-radius: 12px 12px 12px 12px  ;
	margin-left: 250px;
	flex: 1;
}	
p{
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif 'Arial Narrow', Arial, sans-serif;
}
